<p>Dear <%= @user.first_name %>,</p>

<p>You have just taken the first step to financial freedom. Now you can take charge of your cash flow and better understand your spending habit.</p>

<p>To get started, you need to first confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', @confirm_url %></p>

<p>Regards,</p>
<p>Kompilab</p>


