$primary: #00777f;
$white: #fff;
$grey-200: #e9ecef;
$text: #313131;
$footer: #393a3d;

.home-header {
  background-image: url("../../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 40px 120px;

  .left-text {
    color: $white;
    font-size: 3.125rem;
  }

  .right-text {
    color: $grey-200;
  }
}

.float-bg {
  background-image: url("../../assets/images/floating-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  top: -60px;

  @media (max-width: 320px) {
    height: 186px;
    top: -30px;
  }

  @media (min-width: 321px) and (max-width: 420px) {
    height: 246px;
    top: -30px;
  }

  @media (min-width: 421px) and (max-width: 575.98px) {
    height: 326px;
    top: -30px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 312px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 416px;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    height: 552px;
  }

  @media (min-width: 1200px) {
    height: 658px;
  }
}

section {
  .section-title {
    margin-bottom: 40px;

    h2 {
      color: $text;
      font-size: 1.5625rem;
      text-transform: uppercase;
    }
  }
}

section.features {
  padding: 0 20px 60px;

  .feature {
    .position {
      color: #dddedf;
      font-size: 2.1875rem;
      font-style: italic;
      font-weight: bold;
    }

    .name h4 {
      color: #003059;
      font-size: 1.125rem;
    }

    .summary {
      color: #7c8595;
      font-size: 1rem;
    }
  }
}

section.tired-taglines {
  background: $primary;
  padding: 40px 20px;

  h3 {
    color: $white;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    color: $grey-200;
    font-size: 1rem;
    margin-bottom: 40px;
  }
}

footer {
  background: $footer;
  color: $grey-200;
  padding: 40px 20px 10px;

  .foot-logo {
    font-size: 1.5625rem;
  }

  .copyright {
    font-size: .875rem;
    margin-top: 30px;
  }
}
