.btn {
  border-radius: 0.125rem;
  font-size: 1rem;
}

.btn-fo-primary {
  background-color: #d26100;
  border-color: #d26100;
  color: #fff;
}

.btn-fo-primary:hover,
.btn-fo-primary:not(:disabled):not(.disabled):active {
  background-color: #A74D00;
  border-color: #A74D00;
}

.btn-fo-primary:focus {
  box-shadow: 0 0 0 0.1rem rgba(210, 97, 0, .1);
  outline: 0;
}

.btn-fo-primary:disabled {
  background-color: #8d9096;
  border-color: #8d9096;
}
