@import "./_buttons.scss";
@import "./_forms.scss";
@import "./_custom.scss";

html,
body {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #00777f;
}

a:hover {
  color: #025f65;
}

.logo-text {
  font-family: 'Rajdhani', 'Italianno', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.logo-text a {
  color: #8d9096;
}

.logo-text a:hover {
  color: #00777f;
  text-decoration: none;
}
