<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h3>forecast</h3>

    <%= yield %>

    <div>
      <p>Terms of Use &#183; Privacy Policy</p>

      <p>Copyright &copy; 2019 Kompilab Ltd,</p>
      <p>All rights reserved</p>
    </div>
  </body>
</html>
