<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:500|Source+Sans+Pro" rel="stylesheet">
    <style>
      /* Email styles need to be inline */
      header {
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: 2rem;
      }

      .logo {
        color: #00777f;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.5rem;
        font-weight: 500
      }

      h3.logo {
        margin: .5rem auto;
        text-align: center;
      }

      body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        padding: 30px;
      }

      footer {
        border-top: 1px solid #dbdbdb;
        color: #7b7b7b;
        font-size: .75rem;
        margin-top: 2rem;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <header>
      <h3 class="logo">forecast</h3>
    </header>

    <%= yield %>

    <%= render 'shared/mailer_footer' %>
  </body>
</html>
